; --------------------------------------------------
; base .gitconfig
; --------------------------------------------------
[user]
    name = arpadav
    email = arpadav@gmail.com
[submodule]
	recurse = true
[core]
	editor = nvim
[http]
	sslBackend = gnutls
	sslCAinfo = /etc/ssl/certs/ca-certificates.crt
	sslverify = false
[init]
    defaultBranch = main

; --------------------------------------------------
; for all under `github.com`
; --------------------------------------------------
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = ~/.gitconfig-github.com

; --------------------------------------------------
; for all under `gitlab.jhuapl.edu`
; --------------------------------------------------
[includeIf "hasconfig:remote.*.url:git@gitlab.jhuapl.edu:*/**"]
    path = ~/.gitconfig-gitlab.jhuapl.edu

